<footer class="c-footer">
  <div class="c-footer__container">
    <section class="c-footer__section">
      <img src="../assets/Group 2.svg" class="c-footer__section-image" alt="">
      <p class="c-footer__section-text">named one of the best workplaces to work in ohio for 2016, 2017 and 2018</p>
    </section>
    <div class="c-footer__link-lists">
      <div class="c-footer__link-list-flex-container">
      <h2 class="c-footer__link-title">pilots</h2>
      <ul class="c-footer__link-list">
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">First Officer</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Cadet</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Rotor Transition<br>Program</a></li>
      </ul>
      </div>
      <div class="c-footer__link-list-flex-container">
      <h2 class="c-footer__link-title">mechanics &<br>maintenance</h2>
      <ul class="c-footer__link-list">
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Mechanics &<br>Maintenance Careers</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Maintenance Military<br>Transition Program</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Maintenance Student<br>Pathway</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Flight Attendants</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">More Airline Careers</a></li>
      </ul>
      </div>
      <div class="c-footer__link-list-flex-container">
      <h2 class="c-footer__link-title">life at scout</h2>
      <ul class="c-footer__link-list">
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">About</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Culture</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Fleet</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Leadership</a></li>
          <li class="c-footer__list-item"><a class="c-footer__link" href="#">Route Map</a></li>
      </ul>
      </div>
      <div class="c-footer__link-list-flex-container">
      <ul class="c-footer__link-list">
        <li class="c-footer__list-item"><a class="c-footer__link c-footer__link--underlined" href="#">View All Job Openings</a></li>
        <li class="c-footer__list-item"><a class="c-footer__link c-footer__link--underlined" href="#">News</a></li>
        <li class="c-footer__list-item"><a class="c-footer__link c-footer__link--underlined" href="#">Contact Us</a></li>
        <li class="c-footer__list-item"><a class="c-footer__link c-footer__link--underlined" href="#">Passenger Information</a></li>
        <li class="c-footer__list-item"><a class="c-footer__link c-footer__link--underlined" href="#">Web Store</a></li>
      </ul>
      </div>
      <div class="c-footer__copyright-container">
        <p class="c-footer__copyright">All material &copy; 2019 Scout Airlines. All rights reserved.</p>
        <ul class="c-footer__copyright-list">
          <li class="c-footer__copyright-item"><a class="c-footer__copyright-link" href="#">Terms</a></li>
          <li class="c-footer__copyright-item"><a class="c-footer__copyright-link" href="#">Privacy</a></li>
        </ul>
      </div>
      <div class="c-footer__logo-container">
        <img class="c-footer__logo" src="../assets/scout-logo-white.svg"
      </div>
    </div>
    <ul class="c-footer__social-list">
      <li class="c-footer__social-item" aria-label="Visit Scout's Facebook page"><a href="#"><img src="../assets/facebook-logo.svg"></a></li>
      <li class="c-footer__social-item" aria-label="Visit Scout's Instragram page"><a href="#"><img src="../assets/instagram-logo.svg"></a></li>
      <li class="c-footer__social-item" aria-label="Visit Scout's Twitter page"><a href="#"><img src="../assets/twitter-logo.svg"></a></li>
      <li class="c-footer__social-item" aria-label="Visit Scout's Linkedin page"><a href="#"><img src="../assets/linkedin-logo.svg"></a></li>
      <li class="c-footer__social-item" aria-label="Visit Scout's Glassdoor page"><a href="#"><img src="../assets/glassdoor-logo.svg"></a></li>
    </ul>
  </div>
</footer>
