<section class="c-hero">
  <div class="c-hero__inner-container">
  <img class="c-hero__image-plane" src="assets/plane.png" alt="image of an American Airlines plane">
  <h1 class="c-hero__main-heading">Bring Your Passion&nbsp;to&nbsp;Life</h1>
  <p class="c-hero__main-paragraph">Scout Airlines is committed to growing our company where passion is shared, professional excellence is expected, and all people - customers and employees - are valued and respected. Join us on our&nbsp;journey.</p>
  </div>
</section>
