// Fonts
$heading-font: aktiv-grotesk, sans-serif;
$secondary-font: 'Gotham A', 'Gotham B' sans-serif;

// Colors
$c-daintree: #002131;
$c-lochmara: #007CBB;
$c-picton-blue: #40B5E4;
$c-cardinal: #C32032;
$c-tamarillo: #921624;
$c-pure-white: #FFFFFF;

// Gradients
$top-gradient: linear-gradient(to bottom, #01117A, #2891C5 24%, rgba(white, 0.20) 49%, rgba(white, 0.20) 85%, white);

// Breakpoints
$bp-sm: 30.75rem;
$bp-md:43.75rem;
$bp-lg: 75rem;
$bp-xl: 93.75rem;
$bp-nav: 69.25rem;
$bp-footer-sm: 31.25rem;

// Box Shadows
$black-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);

//Spacing
$spacer: 2rem;

$gap-xs: $spacer * 0.25;
$gap-sm: $spacer * 0.5;
$gap-md: $spacer;
$gap-lg: $spacer * 1.5;
$gap-xl: $spacer * 3;
$gap-xxl: $spacer * 5;
