body {
  font-family: "Gotham A", "Gotham B";
  font-weight: 400;
  font-style: normal;
}

a:not([class]) {
  @include default-link;
}

ul {
  @include default-ul;
}

p:not([class]) {
  @include default-paragraph;
}
