.c-footer {
  background-color: $c-daintree;
  width: 100%;

  &__container {
    width: 80%;
    margin: 0 auto;
    padding: 4rem 0;
  }

  &__section {
    width: 100%;
    padding: 4rem 0;
  }

  &__section-image {
    width: 5rem;
    margin: 0 auto;
    display: block;
  }

  &__section-text {
    @include uppercase-white-font;
    text-align: center;
    margin: 1.5rem auto 0;
  }

  &__link-lists {
    @include display-flex-row-center-start;
  }

  &__link-list-flex-container {
    width: 100%;
    padding: 0 0.625rem 0 0;
    box-sizing: border-box;
    margin: 1.25rem 1.25rem 0;

    @media (min-width: $bp-footer-sm) {
      width: 45%;
      margin: 1.25rem 0.625rem 0;
    }

    @media (min-width: $bp-lg) {
      width: 20%;
      margin: 1.25rem 0.625rem;
    }

    @media (min-width: $bp-xl) {
      width: 14%;
      margin: 1.25rem 0.625rem 40px;
    }
  }

  &__link-list {
    margin: 0;
  }

  &__link-title {
    @include uppercase-white-font;
    margin: 0 0 1.25rem;
  }

  &__link {
    color: $c-lochmara;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;

    &:hover {
    @include link-hover-light-blue;
  }

    &--underlined {
      color: $c-pure-white;
      text-decoration: underline;
    }
  }

  &__list-item {
    margin-bottom: 1.25rem;
  }

  &__social-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.625rem 0 0;
    box-sizing: border-box;
    padding: 2rem 0;
    margin: 0 auto;
  }

  &__social-item {
    & + & {
      margin-left: 1rem;
    }
  }

  &__copyright-container {
    width: 100%;
    padding: 0 0.625rem 0 0;
    box-sizing: border-box;
    margin: 2.5rem 1.25rem 0.625rem;

    @media (min-width: $bp-footer-sm) {
      width: 45%;
        }

    @media (min-width: $bp-lg) {
      width: 20%;
      margin: 1.25rem 0.625rem 0.625rem;
    }

    @media (min-width: $bp-xl) {
      width: 14%;
      margin: 1.25rem 0.625rem 2.5rem;
    }
  }

  &__copyright {
    color: $c-pure-white;
    line-height: 1.5;
    margin: 0;
  }

  &__copyright-list {
    padding: 0;
    margin: 1.25rem 0 0;
    display: flex;
    align-items: center;
  }

  &__copyright-item {
    & + & {
      margin-left: 0.625rem;
    }
  }

  &__copyright-link {
    color: $c-pure-white;

    &:hover {
    @include link-hover-light-blue;
  }
  }

  &__logo-container {
    width: 100%;
    margin: 1.875rem auto;

    @media (min-width: $bp-xl) {
      order: -1;
      width: 14%;
      margin: 1.25rem 0.625rem 2.5rem;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto;
  }
}
