.c-header {
  position: absolute;
  width: 100%;
}

.c-navigation {
  @include display-flex-row-center-space-between;
  width: 80%;
  margin: 4rem auto;

  &__logo-image {
    width: 4rem;

    @media (min-width:$bp-sm) {
      width: 6rem;
    }
  }

  &__container-small {

    @media (min-width:$bp-nav) {
      display: none;
    }
  }

  &__container-large {
    display: none;

    @media (min-width:$bp-nav) {
      display: flex;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &__list-item {
    margin-left: 4rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__sub-list {
    display: none;
  }

  &__link {
    color: $c-pure-white;
    text-decoration: none;
  }
}
