.c-navigation {
  position: absolute;
  width: 100%;

  .c-navigation__logo {
    width: 4rem;

    @media (min-width:$bp-sm) {
      width: 6rem;
    }
  }

  .c-navigation__container-mobile {
    width: 80%;
    margin: 3rem auto 0;

    .c-navigation__mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width:$bp-nav) {
        display: none;
      }
    }
  }

  .c-navigation__container-desktop {
    width: 80%;
    margin: 2rem auto 0;

    .c-navigation__desktop {
      display: none;

      @media (min-width:$bp-nav) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .c-navigation__list {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    .c-navigation__list-item {
      margin-left: 4rem;
    }

    .c-navigation__list-item:first-of-type {
      margin-left: 0;
    }

    .c-navigation__link {
      color: #fff;
    }
  }
}
