<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Scout Airlines</title>
  <meta name="description" content="Scout Airlines">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <!-- aktiv -->
  <link rel="stylesheet" href="https://use.typekit.net/ioo1guo.css">
  <!-- gotham -->
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/655912/7519612/css/fonts.css" />
</head>
<body>
    {{content}}
</body>
</html>
