@mixin main-heading-font {
  font-family: $heading-font;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.3;
  margin: 0;
}

@mixin default-link {
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
}

@mixin default-paragraph {
  font-size: 1rem;
  line-height: 1.5;
}

@mixin default-ul {
  list-style: none;
  padding: 0;
}

@mixin uppercase-white-font {
  color: $c-pure-white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
}

@mixin link-hover-light-blue {
  color: $c-picton-blue;
  transition: color ease 0.5s;
}

@mixin display-flex-row-center-start {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

@mixin display-flex-news {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
